/* HEADER */
header {
    background-color: #303030;
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.6);

    nav ul {
        justify-content: space-around;

        li {
            font-family: map-get($estilos, fuentePrincipal);
            animation: botones 1.5s ease 3s 1 normal forwards;

            a {
                text-decoration: none;
                color: #fff;
                font-size: 1.2rem;

                &:hover {
                    color: #fa2323;
                }
            }
        }
    }

    .fila-header {
        justify-content: center;
    }
}

@media screen and (min-width: 992px) {
    header {
        position: sticky;
        top: 0px;
        z-index: 100;
    }
}
