/* RESET */
* {
  margin: 0;
  padding: 0;
}

.box-imgRotativa img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-redes .box-twitter img,
.box-redes .box-instagram img,
.box-redes .box-facebook img, .box-carrito img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* HEADER */
header {
  background-color: #303030;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.6);
}
header nav ul {
  justify-content: space-around;
}
header nav ul li {
  font-family: "Jost", sans-serif;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}
header nav ul li a:hover {
  color: #fa2323;
}
header .fila-header {
  justify-content: center;
  align-items: center;
  height: 64px;
}
header .navbar-nav {
  align-items: center;
}

#logo-carrito {
  cursor: pointer;
}

.box-carrito {
  height: 33px;
  width: 100px;
}
#temp-valor {
  color: white;
  font-size: 1rem;
}

#temp-ubicacion {
  color: white;
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 100;
  }
}
.seccion-medio h1,
.seccion-medio h3 {
  font-family: "Jost", sans-serif;
}
.seccion-medio h1 {
  font-size: 2.1rem;
}
.seccion-medio h3 {
  font-size: 2rem;
}
.seccion-medio p {
  text-align: justify;
}

@media screen and (min-width: 575px) {
  .seccion-medio h1 {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 768px) {
  .seccion-medio h1 {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 1200px) {
  .seccion-medio h1 {
    font-size: 2.3rem;
  }
}
.offcanvas,
.offcanvas-end {
  top: 65px !important;
}

.offcanvas {
  width: 470px !important;
}

.box-imgCarrito {
  height: 200px;
}

.carrito-img {
  border-radius: 30px;
  width: 80%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.fila-pagina-carrito {
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 15px;
}

.fila-carrito {
  justify-content: center;
}

.btn {
  padding: 0.8rem;
  margin: 1.5rem;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  background: linear-gradient(90deg, #14503c, #237a57);
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(90deg, #237a57, #209969);
  color: #fff;
}

.btn-eliminar {
  width: 80px;
}

.btn-ordenar {
  width: 195px;
}

#estado {
  font-size: 0.8rem;
}

.seccion-index {
  width: 90%;
  align-items: center;
}

.fila-form {
  align-items: flex-end;
  justify-content: center;
}

.listado {
  justify-content: center;
}

.lista-titulos {
  font-weight: bold;
}

.menu {
  width: 90%;
}

.imagenCard {
  border-radius: 15px;
}

.card-box {
  background-color: #f5f5f5;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 15px;
  border: none;
}

.card-img-top {
  padding: 15px 20px;
  height: 270px;
  transition: transform 1s;
  border-radius: 30px;
}
.card-img-top:hover {
  transform: scale(1.05, 1.05);
}

.carouselBox {
  width: 85%;
  margin: 0px auto;
}

.box-imgRotativa {
  height: 250px;
}
@media screen and (min-width: 576px) {
  .box-imgRotativa {
    height: 330px;
  }
}
@media screen and (min-width: 992px) {
  .box-imgRotativa {
    height: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .box-imgRotativa {
    height: 340px;
  }
  .box-imgRotativa img {
    border-radius: 10px;
  }
}
/* CONTACTO */
.form-contacto p {
  font-size: 0.8rem;
}

.input-nombre,
.input-correo,
.input-asunto,
.input-textArea {
  outline: none;
  width: 100%;
}
.input-nombre:focus,
.input-correo:focus,
.input-asunto:focus,
.input-textArea:focus {
  border: none;
  border-bottom: 2px solid rgb(168, 56, 56);
}
.input-nombre::-moz-placeholder, .input-correo::-moz-placeholder, .input-asunto::-moz-placeholder, .input-textArea::-moz-placeholder {
  font-size: 0.8rem;
}
.input-nombre:-ms-input-placeholder, .input-correo:-ms-input-placeholder, .input-asunto:-ms-input-placeholder, .input-textArea:-ms-input-placeholder {
  font-size: 0.8rem;
}
.input-nombre::placeholder,
.input-correo::placeholder,
.input-asunto::placeholder,
.input-textArea::placeholder {
  font-size: 0.8rem;
}

.input-textArea {
  border-style: dotted;
  resize: none;
}

.boton {
  width: 40%;
  border-radius: 10px;
  border: none;
}
.boton:hover {
  color: #fff;
  background-color: #464852;
}

.fila-local {
  width: 100%;
  background-image: radial-gradient(#fff, rgb(229, 229, 229));
}
.fila-local h3 {
  font-size: 1.3rem;
}
.fila-local p {
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.fila-contacto iframe {
  width: 100%;
  height: 250px;
}

@media screen and (min-width: 575px) {
  .fila-contacto iframe {
    height: 350px;
  }
}
@media screen and (min-width: 768px) {
  .fila-contacto {
    width: 100%;
    align-items: center;
  }
  .fila-contacto iframe {
    height: 380px;
  }
  .input-nombre,
.input-correo,
.input-asunto {
    border: none;
    border-bottom: 2px solid rgb(168, 56, 56);
    background-color: #fcfafa;
  }
  .input-textArea {
    background-color: #fcfafa;
    height: 140px;
  }
  .boton {
    padding: 6px 10px;
    background-color: #c3bebe;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
    font-size: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .fila-contacto {
    width: 90%;
    align-items: center;
  }
  .fila-contacto iframe {
    height: 450px;
  }
  .input-textArea {
    height: 160px;
  }
}
/* ANIMACION LOGO */
@-webkit-keyframes logoInicio {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes logoInicio {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* ANIMACION BOTONES INICIO */
@-webkit-keyframes botones {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(0.98);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }
}
@keyframes botones {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(0.98);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }
}
/* FOOTER */
footer {
  background-image: linear-gradient(to bottom, #29292c, #323338);
  color: #fff;
  font-family: "Jost", sans-serif;
}
footer h5 {
  font-size: 1.3rem;
  font-weight: bold;
}
footer p {
  margin-bottom: 0px;
}

.box-whatsapp {
  width: 60px;
  height: 60px;
}
.box-whatsapp img {
  height: 100%;
}

.box-redes {
  width: 50%;
}
.box-redes .box-twitter,
.box-redes .box-instagram,
.box-redes .box-facebook {
  height: 30px;
}
@media screen and (min-width: 575px) {
  .box-redes {
    width: 30%;
  }
}
@media screen and (min-width: 767px) {
  .box-redes {
    width: 40%;
  }
}/*# sourceMappingURL=styles.css.map */